In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
import matplotlib.pyplot as plt
import os
import csv
from sqlalchemy import MetaData
from sqlalchemy import create_engine, Text, Float,Column, Integer, String, VARCHAR, DATE, DECIMAL, inspect
from sqlalchemy.ext.declarative import declarative_base

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [3]:
conn = engine.connect()

In [4]:
Base = declarative_base()

In [5]:
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key =True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Integer)
    tobs = Column(Integer)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
    
class Stations(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key = True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [6]:
# Use `create_all` to create the demographics table in the database
### BEGIN SOLUTION
Base.metadata.create_all(engine)

In [7]:
clean_measurements = "clean_meas.csv"
clean_stations = "clean_station.csv"

In [8]:
df = pd.read_csv(clean_measurements)
df2= pd.read_csv(clean_stations)

In [9]:
df_insert1 = df 
df_insert2 = df2
data1 = df_insert1.to_dict(orient='records')
data2 = df_insert2.to_dict(orient ='records')
print(data1[:5])

[{'station': 'USC00519397', 'date': '2010-01-01', 'prcp': 0.08, 'tobs': 65}, {'station': 'USC00519397', 'date': '2010-01-02', 'prcp': 0.0, 'tobs': 63}, {'station': 'USC00519397', 'date': '2010-01-03', 'prcp': 0.0, 'tobs': 74}, {'station': 'USC00519397', 'date': '2010-01-04', 'prcp': 0.0, 'tobs': 76}, {'station': 'USC00519397', 'date': '2010-01-07', 'prcp': 0.06, 'tobs': 70}]

In [10]:
# Use MetaData from SQLAlchemy to reflect the tables
### BEGIN SOLUTION
metadata = MetaData(bind=engine)
metadata.reflect()

In [11]:
table1 = sqlalchemy.Table('measurements', metadata, autoload = True)
table2 = sqlalchemy.Table('station', metadata, autoload = True)

In [12]:
conn.execute(table1.delete())
conn.execute(table2.delete())

In [13]:
conn.execute(table1.insert(), data1)

In [14]:
conn.execute(table2.insert(), data2)

In [16]:
conn.execute("select * from station limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [17]:
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0, 63),
 (3, 'USC00519397', '2010-01-03', 0, 74),
 (4, 'USC00519397', '2010-01-04', 0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70)]