In [93]:
import sqlalchemy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
import datetime as dt
import seaborn as sns

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [3]:
inspector = inspect(engine)
inspector.get_table_names()

['measurements', 'station']

In [4]:
inspector.get_columns('measurements')

[{'autoincrement': 'auto',
  'default': None,
  'name': 'id',
  'nullable': False,
  'primary_key': 1,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'station',
  'nullable': True,
  'primary_key': 0,
  'type': TEXT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'date',
  'nullable': True,
  'primary_key': 0,
  'type': TEXT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'prcp',
  'nullable': True,
  'primary_key': 0,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'tobs',
  'nullable': True,
  'primary_key': 0,
  'type': INTEGER()}]

In [77]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Measurements = Base.classes.measurements
Stations = Base.classes.station

In [20]:
session = Session(engine)

## Preciptation Analysis

In [129]:
# prcp_analysis= session.query(Measurements.date, Measurements.prcp).\
#         filter(func.strftime("%Y", Measurements.date) == "2016").\
#         order_by(Measurements.tobs).all()

# prcp_df = pd.DataFrame(prcp_analysis)
# date_prcp = prcp_df.set_index(prcp_df["date"])
# date_prcp.head()

#x = prcp_df["date"]
#y = prcp_df["prcp"]


precip_2016 =session.query(Measurements.date,Measurements.prcp).\
filter(Measurements.date.between('2016-01-01','2016-12-31')).all()

prec_df= pd.DataFrame(precip_2016)
prec_df.head()

         date  prcp
0  2016-01-01   0.0
1  2016-01-02   0.0
2  2016-01-03   0.0
3  2016-01-04   0.0
4  2016-01-05   0.0

In [142]:
prec_df['date'] =  pd.to_datetime(prec_df['date'])
prec_df.set_index(prec_df['date'], inplace = True)

prec_df.head()

                 date  prcp
date
2016-01-01 2016-01-01   0.0
2016-01-02 2016-01-02   0.0
2016-01-03 2016-01-03   0.0
2016-01-04 2016-01-04   0.0
2016-01-05 2016-01-05   0.0

In [131]:
prec_df.describe().T

       count      mean       std  min  25%   50%   75%   max
prcp  2069.0  0.179845  0.506363  0.0  0.0  0.02  0.15  9.64

# Station Analysis

In [31]:
session.query(Stations.station).all()

[('USC00519397'),
 ('USC00513117'),
 ('USC00514830'),
 ('USC00517948'),
 ('USC00518838'),
 ('USC00519523'),
 ('USC00519281'),
 ('USC00511918'),
 ('USC00516128')]

In [105]:
# session.query(Stations.station, func.count())\
#     order_by(func.count(Stations.station))\
#     join(Measurements)\
#     order_by(Stations.station).all()


active_stations = session.query(Measurements.station,func.count(Measurements.station))\
.order_by(func.count(Measurements.station))\
.group_by(Measurements.station).all()
    
active_stations

[('USC00518838', 342),
 ('USC00517948', 683),
 ('USC00511918', 1932),
 ('USC00514830', 1937),
 ('USC00516128', 2484),
 ('USC00519523', 2572),
 ('USC00519397', 2685),
 ('USC00513117', 2696),
 ('USC00519281', 2772)]

In [92]:
station_list = []
active_list = [] 

for station, activity in active_stations:
    station_list.append(station)
    active_list.append(activity)
    
station_activity_df = pd.DataFrame({'Activity Count': active_list,'Station_id': station_list})


station_activity_df = station_activity_df[[ 'Station_id','Activity Count']]

station_activity_df()

    Station_id  Activity Count
0  USC00518838             342
1  USC00517948             683
2  USC00511918            1932
3  USC00514830            1937
4  USC00516128            2484
5  USC00519523            2572
6  USC00519397            2685
7  USC00513117            2696
8  USC00519281            2772

In [122]:
active_stations1 = session.query(Measurements.tobs,Measurements.station).\
   group_by(Measurements.station).\
   filter(func.strftime("%Y", Measurements.date) == "2016").\
   order_by(func.max(Measurements.tobs).desc()).all()
active_stations1

[(84, 'USC00519523'),
 (83, 'USC00514830'),
 (82, 'USC00517948'),
 (82, 'USC00519281'),
 (82, 'USC00519397'),
 (81, 'USC00516128'),
 (80, 'USC00513117')]

In [126]:
Stationhigh_obervations = session.query(Measurements.date,Measurements.tobs,Measurements.station).\
filter(Measurements.date.between('2016-01-01','2016-12-31')).filter_by(station='USC00519523')\
.all()
#USC00519281

Stationhigh_obervations

[('2016-01-01', 64, 'USC00519523'),
 ('2016-01-02', 73, 'USC00519523'),
 ('2016-01-03', 69, 'USC00519523'),
 ('2016-01-06', 74, 'USC00519523'),
 ('2016-01-07', 68, 'USC00519523'),
 ('2016-01-08', 65, 'USC00519523'),
 ('2016-01-09', 77, 'USC00519523'),
 ('2016-01-10', 71, 'USC00519523'),
 ('2016-01-11', 66, 'USC00519523'),
 ('2016-01-12', 68, 'USC00519523'),
 ('2016-01-13', 64, 'USC00519523'),
 ('2016-01-14', 62, 'USC00519523'),
 ('2016-01-15', 67, 'USC00519523'),
 ('2016-01-16', 69, 'USC00519523'),
 ('2016-01-17', 67, 'USC00519523'),
 ('2016-01-18', 71, 'USC00519523'),
 ('2016-01-21', 70, 'USC00519523'),
 ('2016-01-22', 67, 'USC00519523'),
 ('2016-01-25', 70, 'USC00519523'),
 ('2016-01-26', 67, 'USC00519523'),
 ('2016-01-31', 73, 'USC00519523'),
 ('2016-02-01', 69, 'USC00519523'),
 ('2016-02-02', 70, 'USC00519523'),
 ('2016-02-03', 73, 'USC00519523'),
 ('2016-02-04', 70, 'USC00519523'),
 ('2016-02-05', 69, 'USC00519523'),
 ('2016-02-08', 61, 'USC00519523'),
 ('2016-02-09', 59, 'USC00519523'),
 ('2016-02-10', 70, 'USC00519523'),
 ('2016-02-11', 73, 'USC00519523'),
 ('2016-02-12', 73, 'USC00519523'),
 ('2016-02-16', 72, 'USC00519523'),
 ('2016-02-17', 72, 'USC00519523'),
 ('2016-02-18', 72, 'USC00519523'),
 ('2016-02-19', 68, 'USC00519523'),
 ('2016-02-20', 65, 'USC00519523'),
 ('2016-02-21', 74, 'USC00519523'),
 ('2016-02-22', 74, 'USC00519523'),
 ('2016-02-23', 63, 'USC00519523'),
 ('2016-02-24', 66, 'USC00519523'),
 ('2016-02-25', 67, 'USC00519523'),
 ('2016-02-26', 71, 'USC00519523'),
 ('2016-02-27', 69, 'USC00519523'),
 ('2016-02-28', 67, 'USC00519523'),
 ('2016-02-29', 67, 'USC00519523'),
 ('2016-03-01', 73, 'USC00519523'),
 ('2016-03-02', 70, 'USC00519523'),
 ('2016-03-03', 68, 'USC00519523'),
 ('2016-03-04', 75, 'USC00519523'),
 ('2016-03-05', 73, 'USC00519523'),
 ('2016-03-06', 69, 'USC00519523'),
 ('2016-03-07', 68, 'USC00519523'),
 ('2016-03-08', 75, 'USC00519523'),
 ('2016-03-09', 68, 'USC00519523'),
 ('2016-03-10', 70, 'USC00519523'),
 ('2016-03-11', 72, 'USC00519523'),
 ('2016-03-12', 72, 'USC00519523'),
 ('2016-03-17', 69, 'USC00519523'),
 ('2016-03-18', 70, 'USC00519523'),
 ('2016-03-22', 69, 'USC00519523'),
 ('2016-03-23', 70, 'USC00519523'),
 ('2016-03-24', 73, 'USC00519523'),
 ('2016-03-25', 75, 'USC00519523'),
 ('2016-03-26', 77, 'USC00519523'),
 ('2016-03-27', 76, 'USC00519523'),
 ('2016-03-28', 73, 'USC00519523'),
 ('2016-03-29', 75, 'USC00519523'),
 ('2016-03-30', 69, 'USC00519523'),
 ('2016-03-31', 69, 'USC00519523'),
 ('2016-04-01', 76, 'USC00519523'),
 ('2016-04-02', 76, 'USC00519523'),
 ('2016-04-03', 78, 'USC00519523'),
 ('2016-04-04', 78, 'USC00519523'),
 ('2016-04-07', 72, 'USC00519523'),
 ('2016-04-08', 75, 'USC00519523'),
 ('2016-04-09', 76, 'USC00519523'),
 ('2016-04-10', 76, 'USC00519523'),
 ('2016-04-11', 75, 'USC00519523'),
 ('2016-04-12', 77, 'USC00519523'),
 ('2016-04-13', 77, 'USC00519523'),
 ('2016-04-14', 77, 'USC00519523'),
 ('2016-04-15', 79, 'USC00519523'),
 ('2016-04-16', 76, 'USC00519523'),
 ('2016-04-17', 72, 'USC00519523'),
 ('2016-04-18', 73, 'USC00519523'),
 ('2016-04-21', 75, 'USC00519523'),
 ('2016-04-22', 77, 'USC00519523'),
 ('2016-04-23', 77, 'USC00519523'),
 ('2016-04-24', 75, 'USC00519523'),
 ('2016-04-25', 79, 'USC00519523'),
 ('2016-04-26', 76, 'USC00519523'),
 ('2016-04-27', 79, 'USC00519523'),
 ('2016-04-28', 79, 'USC00519523'),
 ('2016-04-29', 77, 'USC00519523'),
 ('2016-04-30', 77, 'USC00519523'),
 ('2016-05-01', 78, 'USC00519523'),
 ('2016-05-02', 75, 'USC00519523'),
 ('2016-05-03', 78, 'USC00519523'),
 ('2016-05-04', 75, 'USC00519523'),
 ('2016-05-05', 77, 'USC00519523'),
 ('2016-05-06', 73, 'USC00519523'),
 ('2016-05-07', 71, 'USC00519523'),
 ('2016-05-08', 71, 'USC00519523'),
 ('2016-05-09', 73, 'USC00519523'),
 ('2016-05-10', 74, 'USC00519523'),
 ('2016-05-11', 74, 'USC00519523'),
 ('2016-05-12', 73, 'USC00519523'),
 ('2016-05-13', 75, 'USC00519523'),
 ('2016-05-14', 74, 'USC00519523'),
 ('2016-05-15', 79, 'USC00519523'),
 ('2016-05-16', 78, 'USC00519523'),
 ('2016-05-17', 78, 'USC00519523'),
 ('2016-05-18', 77, 'USC00519523'),
 ('2016-05-19', 77, 'USC00519523'),
 ('2016-05-20', 78, 'USC00519523'),
 ('2016-05-21', 78, 'USC00519523'),
 ('2016-05-22', 78, 'USC00519523'),
 ('2016-05-23', 79, 'USC00519523'),
 ('2016-05-24', 77, 'USC00519523'),
 ('2016-05-25', 77, 'USC00519523'),
 ('2016-05-26', 81, 'USC00519523'),
 ('2016-05-27', 80, 'USC00519523'),
 ('2016-05-28', 79, 'USC00519523'),
 ('2016-05-29', 78, 'USC00519523'),
 ('2016-05-30', 78, 'USC00519523'),
 ('2016-05-31', 71, 'USC00519523'),
 ('2016-06-01', 75, 'USC00519523'),
 ('2016-06-02', 75, 'USC00519523'),
 ('2016-06-03', 75, 'USC00519523'),
 ('2016-06-04', 75, 'USC00519523'),
 ('2016-06-05', 73, 'USC00519523'),
 ('2016-06-06', 78, 'USC00519523'),
 ('2016-06-07', 77, 'USC00519523'),
 ('2016-06-08', 80, 'USC00519523'),
 ('2016-06-09', 72, 'USC00519523'),
 ('2016-06-10', 78, 'USC00519523'),
 ('2016-06-11', 78, 'USC00519523'),
 ('2016-06-12', 77, 'USC00519523'),
 ('2016-06-13', 78, 'USC00519523'),
 ('2016-06-14', 79, 'USC00519523'),
 ('2016-06-15', 80, 'USC00519523'),
 ('2016-06-18', 77, 'USC00519523'),
 ('2016-06-19', 79, 'USC00519523'),
 ('2016-06-20', 79, 'USC00519523'),
 ('2016-06-21', 77, 'USC00519523'),
 ('2016-06-22', 79, 'USC00519523'),
 ('2016-06-23', 80, 'USC00519523'),
 ('2016-06-24', 80, 'USC00519523'),
 ('2016-06-25', 77, 'USC00519523'),
 ('2016-06-26', 79, 'USC00519523'),
 ('2016-06-27', 81, 'USC00519523'),
 ('2016-06-28', 78, 'USC00519523'),
 ('2016-06-29', 80, 'USC00519523'),
 ('2016-06-30', 79, 'USC00519523'),
 ('2016-07-03', 76, 'USC00519523'),
 ('2016-07-04', 81, 'USC00519523'),
 ('2016-07-05', 76, 'USC00519523'),
 ('2016-07-06', 76, 'USC00519523'),
 ('2016-07-07', 80, 'USC00519523'),
 ('2016-07-08', 80, 'USC00519523'),
 ('2016-07-09', 78, 'USC00519523'),
 ('2016-07-10', 78, 'USC00519523'),
 ('2016-07-11', 78, 'USC00519523'),
 ('2016-07-12', 80, 'USC00519523'),
 ('2016-07-15', 80, 'USC00519523'),
 ('2016-07-16', 79, 'USC00519523'),
 ('2016-07-17', 82, 'USC00519523'),
 ('2016-07-18', 76, 'USC00519523'),
 ('2016-07-19', 80, 'USC00519523'),
 ('2016-07-20', 82, 'USC00519523'),
 ('2016-07-21', 80, 'USC00519523'),
 ('2016-07-24', 78, 'USC00519523'),
 ('2016-07-25', 80, 'USC00519523'),
 ('2016-07-26', 80, 'USC00519523'),
 ('2016-07-27', 83, 'USC00519523'),
 ('2016-07-28', 82, 'USC00519523'),
 ('2016-07-29', 82, 'USC00519523'),
 ('2016-07-30', 77, 'USC00519523'),
 ('2016-07-31', 80, 'USC00519523'),
 ('2016-08-01', 77, 'USC00519523'),
 ('2016-08-02', 78, 'USC00519523'),
 ('2016-08-03', 81, 'USC00519523'),
 ('2016-08-04', 80, 'USC00519523'),
 ('2016-08-05', 80, 'USC00519523'),
 ('2016-08-06', 79, 'USC00519523'),
 ('2016-08-07', 79, 'USC00519523'),
 ('2016-08-08', 83, 'USC00519523'),
 ('2016-08-09', 80, 'USC00519523'),
 ('2016-08-10', 82, 'USC00519523'),
 ('2016-08-11', 80, 'USC00519523'),
 ('2016-08-12', 77, 'USC00519523'),
 ('2016-08-13', 81, 'USC00519523'),
 ('2016-08-14', 82, 'USC00519523'),
 ('2016-08-15', 81, 'USC00519523'),
 ('2016-08-16', 80, 'USC00519523'),
 ('2016-08-17', 78, 'USC00519523'),
 ('2016-08-18', 81, 'USC00519523'),
 ('2016-08-19', 79, 'USC00519523'),
 ('2016-08-20', 81, 'USC00519523'),
 ('2016-08-21', 80, 'USC00519523'),
 ('2016-08-22', 80, 'USC00519523'),
 ('2016-08-23', 80, 'USC00519523'),
 ('2016-08-24', 79, 'USC00519523'),
 ('2016-08-25', 80, 'USC00519523'),
 ('2016-08-26', 84, 'USC00519523'),
 ('2016-08-27', 81, 'USC00519523'),
 ('2016-08-28', 80, 'USC00519523'),
 ('2016-08-29', 79, 'USC00519523'),
 ('2016-08-30', 78, 'USC00519523'),
 ('2016-08-31', 78, 'USC00519523'),
 ('2016-09-03', 78, 'USC00519523'),
 ('2016-09-04', 84, 'USC00519523'),
 ('2016-09-05', 84, 'USC00519523'),
 ('2016-09-06', 78, 'USC00519523'),
 ('2016-09-07', 76, 'USC00519523'),
 ('2016-09-08', 79, 'USC00519523'),
 ('2016-09-09', 77, 'USC00519523'),
 ('2016-09-10', 78, 'USC00519523'),
 ('2016-09-11', 83, 'USC00519523'),
 ('2016-09-12', 78, 'USC00519523'),
 ('2016-09-13', 77, 'USC00519523'),
 ('2016-09-14', 77, 'USC00519523'),
 ('2016-09-15', 79, 'USC00519523'),
 ('2016-09-16', 78, 'USC00519523'),
 ('2016-09-17', 81, 'USC00519523'),
 ('2016-09-18', 81, 'USC00519523'),
 ('2016-09-19', 78, 'USC00519523'),
 ('2016-09-20', 77, 'USC00519523'),
 ('2016-09-21', 79, 'USC00519523'),
 ('2016-09-22', 79, 'USC00519523'),
 ('2016-09-23', 80, 'USC00519523'),
 ('2016-09-24', 83, 'USC00519523'),
 ('2016-09-25', 82, 'USC00519523'),
 ('2016-09-26', 78, 'USC00519523'),
 ('2016-09-27', 78, 'USC00519523'),
 ('2016-09-28', 78, 'USC00519523'),
 ('2016-09-29', 82, 'USC00519523'),
 ('2016-09-30', 78, 'USC00519523'),
 ('2016-10-01', 79, 'USC00519523'),
 ('2016-10-02', 81, 'USC00519523'),
 ('2016-10-03', 79, 'USC00519523'),
 ('2016-10-04', 80, 'USC00519523'),
 ('2016-10-05', 80, 'USC00519523'),
 ('2016-10-06', 80, 'USC00519523'),
 ('2016-10-07', 79, 'USC00519523'),
 ('2016-10-08', 82, 'USC00519523'),
 ('2016-10-09', 80, 'USC00519523'),
 ('2016-10-10', 78, 'USC00519523'),
 ('2016-10-11', 81, 'USC00519523'),
 ('2016-10-12', 81, 'USC00519523'),
 ('2016-10-13', 79, 'USC00519523'),
 ('2016-10-14', 80, 'USC00519523'),
 ('2016-10-15', 79, 'USC00519523'),
 ('2016-10-16', 81, 'USC00519523'),
 ('2016-10-17', 80, 'USC00519523'),
 ('2016-10-18', 80, 'USC00519523'),
 ('2016-10-19', 78, 'USC00519523'),
 ('2016-10-22', 80, 'USC00519523'),
 ('2016-10-23', 81, 'USC00519523'),
 ('2016-10-24', 75, 'USC00519523'),
 ('2016-10-25', 77, 'USC00519523'),
 ('2016-10-26', 78, 'USC00519523'),
 ('2016-10-27', 78, 'USC00519523'),
 ('2016-10-28', 78, 'USC00519523'),
 ('2016-10-29', 78, 'USC00519523'),
 ('2016-10-30', 79, 'USC00519523'),
 ('2016-10-31', 78, 'USC00519523'),
 ('2016-11-01', 79, 'USC00519523'),
 ('2016-11-02', 76, 'USC00519523'),
 ('2016-11-03', 77, 'USC00519523'),
 ('2016-11-04', 76, 'USC00519523'),
 ('2016-11-05', 78, 'USC00519523'),
 ('2016-11-06', 78, 'USC00519523'),
 ('2016-11-07', 76, 'USC00519523'),
 ('2016-11-08', 77, 'USC00519523'),
 ('2016-11-09', 75, 'USC00519523'),
 ('2016-11-10', 72, 'USC00519523'),
 ('2016-11-11', 73, 'USC00519523'),
 ('2016-11-12', 79, 'USC00519523'),
 ('2016-11-13', 79, 'USC00519523'),
 ('2016-11-14', 78, 'USC00519523'),
 ('2016-11-15', 77, 'USC00519523'),
 ('2016-11-16', 77, 'USC00519523'),
 ('2016-11-17', 77, 'USC00519523'),
 ('2016-11-18', 77, 'USC00519523'),
 ('2016-11-19', 76, 'USC00519523'),
 ('2016-11-20', 80, 'USC00519523'),
 ('2016-11-21', 75, 'USC00519523'),
 ('2016-11-22', 76, 'USC00519523'),
 ('2016-11-23', 75, 'USC00519523'),
 ('2016-11-24', 75, 'USC00519523'),
 ('2016-11-25', 76, 'USC00519523'),
 ('2016-11-26', 78, 'USC00519523'),
 ('2016-11-27', 78, 'USC00519523'),
 ('2016-11-28', 77, 'USC00519523'),
 ('2016-11-29', 76, 'USC00519523'),
 ('2016-11-30', 76, 'USC00519523'),
 ('2016-12-01', 76, 'USC00519523'),
 ('2016-12-02', 75, 'USC00519523'),
 ('2016-12-03', 75, 'USC00519523'),
 ('2016-12-04', 75, 'USC00519523'),
 ('2016-12-05', 70, 'USC00519523'),
 ('2016-12-06', 70, 'USC00519523'),
 ('2016-12-07', 74, 'USC00519523'),
 ('2016-12-08', 73, 'USC00519523'),
 ('2016-12-11', 78, 'USC00519523'),
 ('2016-12-12', 67, 'USC00519523'),
 ('2016-12-13', 69, 'USC00519523'),
 ('2016-12-14', 71, 'USC00519523'),
 ('2016-12-15', 74, 'USC00519523'),
 ('2016-12-16', 63, 'USC00519523'),
 ('2016-12-17', 76, 'USC00519523'),
 ('2016-12-18', 76, 'USC00519523'),
 ('2016-12-19', 71, 'USC00519523'),
 ('2016-12-20', 76, 'USC00519523'),
 ('2016-12-21', 77, 'USC00519523'),
 ('2016-12-22', 73, 'USC00519523'),
 ('2016-12-23', 71, 'USC00519523'),
 ('2016-12-24', 78, 'USC00519523'),
 ('2016-12-25', 78, 'USC00519523'),
 ('2016-12-26', 75, 'USC00519523'),
 ('2016-12-27', 75, 'USC00519523'),
 ('2016-12-28', 72, 'USC00519523'),
 ('2016-12-29', 77, 'USC00519523'),
 ('2016-12-30', 72, 'USC00519523')]

In [ ]:
date_list = []
temp_list = []
station_list = []

for date, temp, station

## Temperature Analysis

In [144]:
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurements.tobs), func.avg(Measurements.tobs), func.max(Measurements.tobs)).\
        filter(Measurements.date >= start_date).filter(Measurements.date <= end_date).all()
print(calc_temps('2016-01-01', '2016-12-31'))

[(56, 74.08554857419043, 84)]

In [150]:
temp_plot = calc_temps('2016-01-01', '2016-12-31')

df_temp_2016 = pd.Dataframe(temp_plot)

AttributeError: module 'pandas' has no attribute 'Dataframe'